PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/hour-calculator
JWT_ACCESS_SECRET=change-this-to-a-long-random-secret
JWT_ACCESS_EXPIRES_IN=7d
# For deployment, use MongoDB Atlas:
# MONGO_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/hour-calculator?retryWrites=true&w=majority
